@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');

#title-list {
    margin-top: 15vh;
    font-family: 'Dosis', 'Cormorant Garamond', serif;
}

/* Calculator Styling */
label {
    font-size: 1.12rem;
}

#calculator-wrapper {
    width: fit-content;
    border: 2px solid #000;
    display: flex;
    justify-content: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

input {
    margin: 3px;
    border: rgb(0, 0, 0) solid 2px;
}

.input-group-text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: .37rem .77rem;
    margin: 0.22rem;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: .2rem;
}

/* Project UI Responsiveness */
/* Larger sized mobile devices */
@media only screen and (max-device-width: 428px) and (max-device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {

    * {
        touch-action: manipulation;
    }
}