@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');

* {
    touch-action: manipulation;
}

input[type="range"] {
    display: block;
    -webkit-appearance: none;
    background-color: #eeeeee;
    width: 60%;
    height: 0.7rem;
    border-radius: 3px;
    margin: 0 auto;
    outline: 0;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: rgb(224, 224, 224);
    width: 1.45rem;
    height: 1.45em;
    border-radius: 50%;
    border: 2px solid rgb(26, 26, 26);
    cursor: pointer;
    transition: .3s ease-in-out;
}

​ input[type="range"]::-webkit-slider-thumb:hover {
    border: 3px solid rgb(33, 50, 77);
}

input[type="range"]::-webkit-slider-thumb:active {
    transform: scale(1.4);
    border: 3px solid rgb(12, 12, 12);
}

/* End Input Sliders */

/* Input Slider Media Query Start */
@media only screen and (max-device-width: 428px) and (max-device-height: 926px) {

    input[type="range"] {
        width: 80%;
        height: 0.5rem;
    }

    input[type="range"]::-webkit-slider-thumb {
        width: 1.3rem;
        height: 1.3em;
    }

    input[type="range"]::-webkit-slider-thumb:active {
        transform: scale(1.25);
    }
}

/* End Input Slider Media Query */