@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');

/* Project UI Responsiveness */
/* Larger sized mobile devices */
@media only screen and (max-device-width: 428px) and (max-device-height: 926px) {

    * {
        touch-action: manipulation;
    }

    #title-list {
        font-size: 2.2rem;
    }

    #title-list-secondary {
        font-size: 1.25rem;
    }
}