@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');

* {
    touch-action: manipulation;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    font-family: 'Dosis';
}

p {
    font-family: 'Lato', sans-serif;
}